header {
  height: 100px;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 180px);
}
.active {
  background-color: #5c48d3;
  color: white;
}
.inactive {
  background-color: white;
  color: #5c48d3;
}
.active,
.inactive {
  width: 120px;
  height: 70px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 20px;
  font-size: 36px;
}
.departure {
  background-color: #46ac4a;
}
.refused {
  background-color: #d34848;
}
.departure,
.refused {
  color: white;
  height: 140px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
footer {
  height: 80px;
  display: flex;
  justify-content: center;
}
